<ion-view title='

<img class="customtitleImg" src="img/fablab.png" />
<h1 class="title" >Illustrabot2 - Fablab Lannion -  0.0.5</h1>

 '>
  <ion-content class="padding">

<div class="row">


	
	<div class="col">
		<a ng-click="setArm()" class="button button-icon icon ion-steam"></a>
		
	</div>


	
	<div class="col">
		
		<a ng-click="setHand()" class="button button-icon icon ion-android-hand"></a>		
	</div>		
 

</div>	

 <div class="row">
	<input type="range" min="0" max="255" value="127" onchange="updateMotorHeader(value)" />
</div>	





	
  </ion-content>
</ion-view>
