<ion-view title="Debug">
  <ion-content>

  <div class="container">
  
	<ul>
		<li>{{IpParameters()}}</li>
		<li>{{Timer_Values()}}</li>		
		<div id="log0"></div>		
	</ul>


    <div class="row clearfix">
      <div class="col-md-4 column">
	<button type="button" ng-click="connect();" class="btn btn-success btn-block">Open Socket</button>		
      </div>	

      <div class="col-md-4 column">
	<button type="button" ng-click="startTraffic();" class="btn btn-success btn-block">Start Traffic</button>
      </div>	
      <div class="col-md-4 column">
	<button type="button" onclick="stopTraffic();" class="btn btn-success btn-block">Stop Traffic</button>
      </div>	
       <div class="col-md-4 column">
        &nbsp;
      </div>     
		

    </div>
	
    <div class="row clearfix">	
	
      <div class="col-md-4 column">
	<button type="button" onclick="sendTCPPattern();" class="btn btn-success btn-block">Send Pattern</button>
      </div> 
        <div class="col-md-4 column">
        &nbsp;
      </div>    	
    </div>	
	
	
	<div id="log"></div>
	<div id="log2"></div>
	
	
    <div class="row clearfix">

      <div class="col-md-4 column">
	<button type="button" onclick="setMotorHeader(1);" class="btn btn-success btn-block">motor1</button>
      </div>	
      <div class="col-md-4 column">
	<button type="button" onclick="setMotorHeader(2);" class="btn btn-success btn-block">motor2</button>
      </div>	   
      <div class="col-md-4 column">
	<button type="button" onclick="setMotorHeader(3);" class="btn btn-success btn-block">motor3</button>		
      </div>		
      <div class="col-md-4 column">
	<button type="button" onclick="setMotorHeader(4);" class="btn btn-success btn-block">motor4</button>
      </div> 
   
    </div>	
	
    <div class="row clearfix">	
	
      <div class="col-md-4 column">
	<button type="button" onclick="setMotorHeader(0);" class="btn btn-success btn-block">haltpp</button>
      </div> 	  
        <div class="col-md-4 column">
        &nbsp;
      </div>    	
    </div>	
		

	<div id="log3"></div>	
	
	
  </ion-content>
</ion-view>
