## Files not to be put in configuration                                          

## C/C++
# Object files
*.o           
*.ko          
*.obj         
*.elf         
*.slo         
*.lo          
# Libraries   
*.lib         
*.a           
*.lai         
*.la          
*.lib         
# Shared objects (inc. Windows DLLs)
*.dll                               
*.so                                
*.so.*                              
*.dylib                             
# Executables                       
*.exe                               
*.out                               
*.app                               
*.i*86                              
*.x86_64                            
*.hex                               
